<div class="card flex justify-content-center">
    <p-card header="Card Simple">
        <p class="m-0">
            Una card es un componente con un patrón de diseño de interfaz de usuario (UI) que agrupa información relacionada en un contenedor de tamaño variable que se asemeja visualmente a una tarjeta.
        </p>
    </p-card>
</div>
<div class="card flex justify-content-center">
    <p-card header="Card Avanzada" subheader="Subtitulo Card" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <p>
            Una card es un componente con un patrón de diseño de interfaz de usuario (UI) que agrupa información relacionada en un contenedor de tamaño variable que se asemeja visualmente a una tarjeta.
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Guardar" severity="success" class="w-full" styleClass="w-full" />
                <p-button label="Cancelar" severity="help" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>
