<h1>IMAGENES</h1>
<div class="card flex justify-content-center p-3">
  <p-galleria [responsiveOptions]="responsiveOptions" [value]="images" (someEvent)="onValueChange($event)"
      [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.thumbnailImageSrc" />
          </div>
      </ng-template>
  </p-galleria>
</div>

<div class="card flex justify-content-center p-3">
    <div class="card flex justify-content-center">
        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" alt="Image" width="250" />
    </div>

    <div class="card flex justify-content-center">
        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" alt="Image" width="250"
            [preview]="true" />
    </div>

    <div class="card flex justify-content-center">
        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" [preview]="true" alt="Image"
            width="250">
            <ng-template pTemplate="indicator">
                <i class="pi pi-check"></i>
            </ng-template>
        </p-image>

    </div>

    <div class="card flex justify-content-center">
        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria11.jpg"
            previewImageSrc="https://primefaces.org/cdn/primeng/images/galleria/galleria11.jpg" alt="Image" width="250"
            [preview]="true" />
    </div>
</div>



